/ Just pass in the slide
%div{:class=>"thumbnail #{slide_type(slide)}", :style=>"background-color:##{slide.color};"}
  -if slide.image?
    =image_tag slide_file_url(slide, :preview), :alt=>"#{slide.title} thumbnail"
  -elsif slide.swf?
    =image_tag "flash.jpg", :alt=>"#{slide.title} flash player"
  -elsif slide.video?
    =image_tag "video_thumbnail.jpg", :alt=>"#{slide.title} video"
  -else
    =image_tag "white-link.png", :alt=>"link"