-@slots.each do |slot|
  %li[slot]{'data-edit-url'=>url_for([:edit, @sign, slot]), 'data-show-url'=>slide_url(slot.slide)}
    
    .slide_status= "#{slide_status(slot.slide)}" + (slot.slide.showing? ? " - #{slot.custom_delay}s" : "")

    .preview_wrapper
      -unless slot.slide.published?
        .corner-banner
          unpublished
      %div{:class=>"thumbnail #{slide_type(slot.slide)}", :style=>"background-color:##{slot.slide.color};"}
        -if slot.slide.image?
          =image_tag slide_file_url(slot.slide, :preview), :alt=>"#{slot.slide.title} thumbnail"
        -elsif slot.slide.swf?
          =image_tag "flash.jpg", :alt=>"#{slot.slide.title} flash player"
        -elsif slot.slide.video?
          =image_tag "video_thumbnail.jpg", :alt=>"#{slot.slide.title} video"
        -else
          =image_tag "white-link.png", :alt=>"link"

      .title_bar
        %h4=slot.slide.title