!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    =render('layouts/head')
  %body{:class=>"#{controller_name} #{action_name}"}
    #header
      #branding 
        #site_title Digital Signage
      -if user_signed_in?
        #profile
          =link_to(current_user.name, current_user, :class=>'name')
          =link_to('Logout', logout_path, :class=>'logout')
      #navigation.tabnav=navigation_menu

    #page{:class=>"#{controller_name} #{action_name}"}
      -if content_for? :aside
        #contentAside
          =yield_or(:aside, '')

      #wrapperContent{:class=>"#{content_for?(:aside) ? 'make-room-for-aside' : ''}"}
        =render('layouts/messages')
        #content=yield

    =javascript_include_tag 'application'
    =yield :foot