!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    =render('layouts/head')
  %body{:class=>"#{controller_name} #{action_name}"}
    =admin_menu
    #wrapper
      =render('layouts/biola_header')
      #wrapperTitle
        #branding
          #siteTitle=link_to(AppConfig.app.name, root_path)
        -if user_signed_in?
          =render('layouts/profile')
        
      #wrapperPage
        #page{:class=>"#{controller_name} #{action_name}"}
          =render('layouts/navigation')
          -if content_for? :aside
            #contentAside
              =yield_or(:aside, '')
          
          #wrapperContent{:class=>"#{content_for?(:aside) ? 'make-room-for-aside' : ''}"}
            =render('layouts/messages')
            #content=yield
          
    =javascript_include_tag 'application'
    =yield :foot
