!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= h(yield(:title) || "Sign Manager")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %link{"rel"=>"icon", "type"=>"image/png", "href"=>"http://media1.biola.edu/biola/img/biola-icon.png"}
    = stylesheet_link_tag 'main'
    = stylesheet_link_tag 'application'
    = controller_stylesheet_link_tag
    = yield(:head)
    = javascript_include_tag :defaults
  %body
    #wrapperHeader
      #header
        #brandingBiola
          %a#logo(href="http://www.biola.edu") Biola University
        %ul#navMain
          %li
            %a(href="http://www.biola.edu/about")About
          %li
            %a(href="http://www.biola.edu/academics")Academics
          %li
            %a(href="http://www.biola.edu/admissions")Admissions
          %li
            %a(href="http://www.biola.edu/athletics")Athletics
          %li
            %a(href="http://www.biola.edu/news")News &amp; Events
          %li
            %a(href="http://www.biola.edu/resources")Resources
          %li
            %a(href="http://www.biola.edu/offices")Offices
          %li
            %a(href="http://www.biola.edu/find/")Search
    #wrapperTitle
      #branding
        #siteTitle
          = link_to "THI Student Evaluations", root_path
    #messages
      = render :partial => 'layouts/messages'
    #page_login
      #contentMain
        #content_header
        = yield
    %br
    %br
    #footer
      %p#legal
        &copy;2009 Biola University
        %a(href="terms-of-service")Terms of Service
        %a#ithelpdesk(href="http://offices.biola.edu/it/")IT Helpdesk
